body {
    
    background-color: bisque;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    min-height: 10vh;
    
}

h1 {
    text-align: center;
    justify-content: center;
    color: black;
    width: 100%;
}
header{
    background-color: aqua;
    padding-top: 10px;
    border-radius: 15px;
    box-shadow: 6px 7px 10px;
    margin-left:10px ;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    
    
}
main{
    display:flex;
    flex:1;
    padding:20px;
    gap:15px;
    background-color: #ffff;
    margin-top: 15px;
    text-align: center;
}
article{
    flex:3px;
    background-color: #425c77;
    padding:25px;
    box-shadow: 10px 7px 6px black;
    border-radius: 10px;
    

}
img {
    width: 10.5rem;
    justify-content: center;
}
aside{
    flex:3px;
    background-color: #425c77;
    padding:20px;
    margin:10px;
    border-radius: 15px;
}
ul{
    list-style: none;
    text-align: center;
    color:aliceblue;
}
li {
    text-align:left ;
}
footer{
    text-align: center;
    padding:15px;
    background-color: aqua;
    box-shadow: 10px 7px 10px black;
}


 

 







 





